



/* First Row */
.firstRow {
  display: flex;
  justify-content: space-between; /* Space between logo and news */
  /* Center vertically */


  
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  width: 130px;
  height: 120px;
  object-fit: contain;
}

/* News Container */
.newsDiv {
  flex-grow: 1; /* Ensures it stretches to fill available space */
  display: flex;
  align-items: center;
 /* Scroll horizontally if content overflows */
}

.headerNews-container {
  display: flex;
  gap: 0px; /* Spacing between news cards */
}

/* News Section */
.header-News {
  display: flex;
 
}

/* Individual News Item */
.header-news__single {
  background-color: white;
 
  border-radius: 10px;

  width: 270px; /* Set a fixed width */
  height: 150px;
  transition: transform 0.2s ease;
  overflow: hidden;
  padding-bottom: 5px;
  padding-top: 5px;
}

.header-news__single:hover {
  transform: scale(1.05);
}

/* News Link */
.news__link {
  text-decoration: none;
  color: #333;
}

.news__link div {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}

/* No News Message */
.header-News h3 {
  font-size: 18px;
  color: #999;
  text-align: center;
}

textarea {
  resize: none;

}
.secondRow{
    display: flex;
    justify-content: center;
    
    height: 45px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.left{
    margin-top: 7px;
    display: flex;
    justify-content: center;
    gap: 1vw;
    
}
nav {
    position: relative;
}
 li {

    list-style-type: none;
}
a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
}
nav ul li:hover > .submenu-content {
    display: block;
    
  }

  .submenu-content {
   display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  
  
  .submenu-content li a {
    padding: 10px;
    color: #333;
    text-decoration: none;
    text-align: center;
  }
  
  .submenu-content li a:hover {
    background-color: #ddd;
    padding: 1px;
    text-align: center;
  }

  .right{
    margin-top: 7px;
    display: flex;
  gap: 1vh;
  border-left: 2px solid #3333339c;
  border-right: 2px solid #3333339c;
    padding-left: 10px;
    padding-right: 8px;
   
   
  }
  
  .input{
display: flex;
gap: 0.2vh;

border-right: 2px solid #3333339c;

  }
.searchButton{
    height: 28px;
    width: 58px;
    border-radius: 10%;
    margin-right: 2px;
  
  }


  .right-menuitems{

    border-left: 0.5px solid #3333335d;
   
  }
  nav .active{
    color: #fa0606;
  }  
  .input input {
    margin-top: 5px;
  }
    
.left li{
  padding: 1.5px;
  border-radius: 2px;
}
  
.left li:hover{
    background-color: #43464c38;
    transition: ease-in 0.4s;
   
  }






  