
.container-chatbox{
    position: relative;
}

.message  {
    position: fixed;
   right:0;
   margin-right: 36px;
   z-index: 1000;
}
#chatbox{
    width: 400px;
    height: 400px;
    background-color: rgba(30, 22, 39, 0.799);
    position: fixed;
    right: 0;
    top: 0;
   z-index: 1000;
   margin-top: 10px;
   border-radius: 7.5%;
  border-bottom: 4px solid black;
  border-top: 4px solid black;
  border-left: 4px solid rgb(255, 0, 0);
  border-right: 4px solid rgb(255, 0, 0);



}
.chatbox-closed {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-in;
  }
  
  .chatbox-open {
    max-height: 400px; /* Adjust as needed */
    opacity: 1;
    visibility: visible;
    transition: all 0.4s linear;
  }
  


.chatting {
  height: 300px; /* Set the height according to your needs */
  overflow-y: auto;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 10px;
 
}


.chatting::-webkit-scrollbar {
  width: 8px; 
}

.chatting::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.chatting::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px;
}

.chatting::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.messageArea{
  position: absolute;
  bottom: 0;
  background-color: transparent;
  border-radius: 8px;
  left: 0;
  margin-left: 16px;
color: bisque;
font-size: 18px;
margin-bottom: 4px;
padding-top: 3px;
}
.messageArea::placeholder{
  color: aliceblue;
  
}


.send{
 position: absolute;
  bottom: 0;
  background-color: transparent;
  font-size: 15px;
margin-bottom: 9px;
right: 0;
margin-right: 20px;
cursor: pointer;
color: white;
width: 47px;
border: 1px solid white;
border-radius: 5px;
display: block;
}

@media (max-width: 624px) {
  .contauner-chatbox{
    position: relative;
}

.message  {

    position: fixed;
   right:0;
   bottom: 0;
   z-index: 10000;
 
}
#chatbox{
    width: 300px;
    height: 300px;
    background-color: rgba(30, 22, 39, 0.799);
    position: fixed;
    right: 0;
    top: 500px;
   z-index: 1000;
   
   border-radius: 7.5%;
  border-bottom: 4px solid black;
  border-top: 4px solid black;
  border-left: 4px solid rgb(255, 0, 0);
  border-right: 4px solid rgb(255, 0, 0);
  font-size: 8px;



}
.chatting {
  height: 200px; /* Set the height according to your needs */
  overflow-y: auto;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 10px;
 
}
