.footer{
    background-color:#000000 ;
    width: 100%;
 height: 50vh;
margin-top: 5vh;
  

}

.footer-container{
    width: 100%;
  height: 32vh;
    display: flex;
    justify-content: space-around;
    background-color:#000000 ;
  
  
   
}
.border-element {
    width: 70%;            
    border-bottom: 2px solid #98A2B3; 
    margin: 0 auto;        
  }
  

.right-menu{
  
    display: grid;
    grid-template-rows:  repeat(3, 70px);
    grid-template-columns: repeat(4, 2fr);
    top: 10vw;
}
.downFooter{
  
      display: flex;
      justify-content: space-around;
      

}
.downLeft{
    color: white;
    
}
.downRight{
    display: flex;
    gap: 2vh;
}