.Container-body {
   margin-top: 20px;
   width: 75vw;
   height: 30vh;
   display: grid;
   grid-gap: 0.5vw;
}

/* Default for small screens (e.g., phones): 3 columns */
.Container-body {
   grid-template-columns: repeat(3, 1fr);
}

/* Medium screens (e.g., laptops): 4 columns */
@media (min-width: 768px) {
   .Container-body {
       grid-template-columns: repeat(4, 1fr);
   }
}

/* Large screens (e.g., desktops): 6 columns */
@media (min-width: 1024px) {
   .Container-body {
       grid-template-columns: repeat(8, 1fr);
   }
}

.items-div {
   background-color: #ddd;
   border: 0.5px solid #333;
}
