
.movingtext{
    
    height: 50px;
    width: 80%;
   
  margin-top: 30px;
    position: relative;
   
    margin-left: 20px;
   
}
.textHeading{

height: 50px;
width: 130px;
padding: 0;
margin-top: 30px;
color: white;
border-radius: 4%;
background-color: rgba(46, 38, 38, 0.76);
}
.slider{
   
    display: flex;
    overflow:hidden;
    white-space: nowrap;
    scrollbar-width: none;
}

    .slidertext{
        display: inline-block;
        white-space: nowrap;
    animation-name: anim;
    animation-timing-function: linear;  
  
    animation-duration: 35s;
    animation-iteration-count: infinite;
    font-family: 'Times New Roman', Times, serif;
    }
    .gole{
        width: 2vh;
        height: 2vh;
        border-radius: 50%;
       background-color: rgb(4, 165, 4);
        display: inline-block;
        white-space: nowrap;
        margin-left: 6px;
        margin-right: 6px;
        
        }
     h4{
        display: inline-block;
     
       
    }
    @keyframes anim {
        from{
            transform: translateX(0%);
        }
        to{
            transform: translateX(-100%);
        }
    }


    @media (max-width: 768px) {
 
        .movingtext{
    
            height: 50px;
            width: 100%;
           
          margin-top: 20px;
            position: relative;
           margin-left: 10px;
          
        }
        .textHeading{
        
        height: 30px;
        width: 70px;
        padding-bottom :40px;
        padding-left: 10px;
        padding-top: -10px;
        margin-top: 20px;
        color: white;
        border-radius: 4%;
        background-color: #FE3204;
        font-size: 9px;
        margin-left: 27px;
        }

        .slidertext{
            display: inline-block;
            white-space: nowrap;
        animation-name: anim;
        animation-timing-function: linear;  
      
        animation-duration: 35s;
        animation-iteration-count: infinite;
        font-family: 'Times New Roman', Times, serif;
        font-size: 12px;
        text-align: left;
        }
        .gole{
            width: 2vh;
            height: 2vh;
            border-radius: 50%;
            background-color: #FE3204;
            display: inline-block;
            white-space: nowrap;
            margin-left: 6px;
            margin-right: 6px;
            
            }
    
      }